@import './inc/colors';
@import './inc/variables';
@import "~delta-angular/src/styles/bootstrap/scss/custom";
@import "~delta-angular/src/styles/bootstrap/scss/mixins/breakpoints";
@import '~delta-angular/src/styles/bootstrap/scss/utilities/display';
@import '~delta-angular/src/styles/bootstrap/scss/utilities/flex';

//
//  mixins instansiation
//

//@include cat-colors;
@include cat-fonts;
@include product-card-features;


//
//  general classes
//

.clear-btn{
  text-decoration: underline !important;
}

.link-appearance{
  text-decoration: underline;
  border: none;
  background: none;
  cursor: pointer;
  text-align: initial;
  padding: 0;
}
.amount{
  color: gray;
  font-size: 12px;
  margin: 0 3px;
}

.checkbox-row{
  @extend .d-flex;
  @extend .flex-row;
  @extend .align-items-center;
}

.filter-dropdown-btn{
  width: 100%;
  border: none;
  background: #f5f5f5;
  border-radius: 0;
  padding: 0.6rem;
  color: #777;
}


//ng-pagination

//@media (max-width: 575.98px){
@include media-breakpoint-down(xs){
  ngb-pagination.ml-auto.mr-0{
    margin: 0 !important;
  }
}



/*
 **   Card Item
 */


.card-group{
  width: 100%;
}


.card-item.card{
  font-size: 0.85rem;
  .card-content-wrapper{
    @extend .flex-column;
  }
  .card-block{
    padding: 0;
    .price-wrap{
      color: #212121;
    }
  }
  .card-title{
    font-size: 14px;
  }
  .card-footer{
    border-top: none;
    background: none;
    padding-right: 0;
    padding-left: 0;
    .leaf-btn.btn{
      font-size: 0.8rem !important;
    }
    .link-appearance{
      text-decoration: none;
    }
  }
  img{
    display: block;
    width: 100%;
    max-width: 130px;
    min-width: 130px;
  }
  .link-appearance{
    margin-bottom: 5px;
    font-size: 11px;
    color: #555 !important;
  }



}

/* card items - grid view */

.grid{
  .card.card-item{
    @include media-breakpoint-up(lg){
      img{
        margin: 15px auto;
      }
      .family-details,
      .product-details{
        //max-width: 185px;
        margin-right: auto;
        margin-left: auto;
      }
      .card-footer{
        //text-align: center;
      }
    }
    @include media-breakpoint-up(sm) {
      & + .card.card-item {
        border-left: 1px solid;
      }

    }
  }
}


/* card items - list view */

$list-item-padding-x: 20px;

.list {
  .card.card-item{
    @extend .flex-row;
    @extend .align-items-center;
    padding: 10px $list-item-padding-x;
    border: none;
    &:not(:last-child){
      border-bottom: 1px solid #e6e6e6;
    }
    //> * {
    //  margin-right: 40px;
    //  body[dir="rtl"] &{
    //    margin-right: 0;
    //    margin-left: 40px;
    //  }
    //}
    .card-text{
      font-size: 16px;
    }
  }
  .remove-btn{
    order: 3;
  }
  .card-block{
    @extend .d-flex;
    @extend .align-items-center;
    flex-grow: 1;
    > *{
      margin-top: 0;
      margin-bottom: 0;
    }
    .product-details,
    .family-details{
      margin: 0  $list-item-padding-x;
    }
    .family-details{
      max-width: 450px;
    }
  }
  .card-footer{
    order: 2;
    body[dir="rtl"] & {
      margin-right: auto !important;
      margin-left: 0 !important;
    }
    button.view-all{
      float: right;
      body[dir="rtl"] & {
        float: left;
      }
    }
    .link-appearance{
      display: block;
    }
    .add-to-cart-wrapper{
      @extend .d-flex;
    }
  }
  product-card.card.card-item{
    @extend .flex-column;
    @extend .align-items-stretch;
    .card-block{
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
    }
    .card-footer{
      @extend .d-flex;
      @extend .flex-row;
      @extend .justify-content-between;
      @extend .align-items-center;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
  }
}


// carousel tiles

.tile{
  .card.card-item{
    .card-content-wrapper{
      @extend .flex-column;
    }
  }
}

//compare page
compare-products{
  .card-content-wrapper{
    padding: 20px;
  }
}


// mobile display
.card.card-item{
  @include media-breakpoint-down(md) {
    padding: 20px 0 0;
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
    max-width: 100% !important;
    flex-direction: row;
    margin-bottom: 7px;
    box-shadow: 1px 2px 1px #f2f2f2;
    img{
      width: 90px;
      min-width: 90px;
      height: 90px;
      margin: 15px 10px;
    }
    hr.mobile-separator{
      width: 95%;
      background: #e1e1e1;
      margin: 3px 0 10px;
    }
  }
  .mobile-card-image{
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin: 0 10px;
  }
  .mobile-card-content{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    .card-title{
      font-size: 18px;
    }
    .card-text{
      font-size: 15px;
    }
    .card-footer{
      padding: 0;
      hr{
        @extend .mobile-separator;
      }
      .link-appearance{
        padding: 3px 0;
        font-size: 14px;
      }
      .leaf-btn{
        display: block;
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-radius: 0;
        text-align: start;
        padding: 10px;
        font-size: 15px !important;
      }
      .add-to-cart-wrapper {
        add-to-cart-btn, quantity-selector {
          display: block;
        }
      }
    }
  }
}

.mobile-mode.grid,
.mobile-mode.list{
  product-card.card.card-item{
    @extend .flex-column;
    .compare-body{
      padding: 0 10px;
    }
    .remove-btn-compare{
      background: none;
    }
    add-to-cart-btn,
    add-to-cart-btn button{
      display: block;
      width: 100%;
    }
    .card-content-wrapper{
      @extend .flex-row;
    }
    .card-block{
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
    }
    .card-footer{
      padding: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
  }
}
.mobile-mode .tile{
  product-card.card.card-item{
    @extend .flex-column;
    @extend .align-items-center;
    @extend .justify-content-between;
    > * {
      width: calc(100% - 100px);
      margin: 10px auto;
      text-align: center;
    }
    .card-img-top{
      margin: auto;
    }
  }
}
compare-products .mobile-product-card{
  product-card{
    @extend .d-flex;
    @extend .flex-column;
    .remove-btn-compare{
      padding: 0;
    }
  }
  .card-content-wrapper{
    @extend .flex-column;
    padding: 0;
  }
  .card-block{
    padding: 0;
  }
  .card-img-top{
    max-width: 100%;
  }
  quantity-selector .label{
    display: block;
  }
  .card-footer hr,
  .card-footer add-to-cart{
    display: none;
  }
}

/*
 **
 */
