@import "inc/mixins";
@import "elements/card";
@import "elements/accordion";
@import "elements/form";
@import "elements/cart";
@import "elements/buttons";
@import "elements/ngu-carousel";


@include gen-colors();
@include footer-margins();

//$colors: map-merge($colors, $sig-colors);

html {
  //&:lang(he){
  //  font-family: $font-family-regular;
  //}
  &.loading {
    body {
      overflow: hidden !important;
    }
  }
}
body {
  font-family: $font-family-regular;
  line-height: normal;
  //h1,h2,h3,h4,h5,.font-weight-bold,a,.btn{
  //  font-family: $font-family-bold;
  //}
  &.mat-sidenav-show {
    overflow-y: hidden !important;
  }
  .main-content {
    //z-index: 999;
  }
}
.cursor-pointer {
  cursor: pointer !important;
}
.link{
  text-decoration: underline;
}
.sample-form-2{
  box-shadow:none;
}
main.main {
  padding-top: 0 !important;
}

.title > i {
  margin: -2px 5px 0 0;
  font-size: 20px;
}
.w-100p { width: 100% !important; }
.border-top-1 { border-top: 1px solid #eaeaea; }
.border-bottom-1 { border-bottom: 1px solid #eaeaea; }
.bg-ratag-green{
  @include bg-ratag-green;
}
.color-ratag-green{
  color: $ratag-green;
}
.color-ratag-green-secondary{
  color: $ratag-green-secondary;
}
.bg-ratag-green-secondary{
  @include bg-ratag-green-secondary;
}

.custom-control.custom-checkbox {
  .custom-control-input ~ .custom-control-indicator{
    border: 2px solid map-get($colors, 'grey-300') !important;
  }
  .custom-control-input:checked ~ .custom-control-indicator{
    border: 2px solid map-get($colors, 'amber-700') !important;
  }
}

table.table {
  &.table-no-hover {
    cursor: default !important;
    tbody {
      tr:hover td,
      td {
        background-color: inherit !important;
        padding-bottom: 0;
      }
    }
  }
}

.required:before {
  content:" *";
  color: map-get($colors, 'red-900');
}

.error-page { width: 100% !important; }

input{
  &.error{
    border-color: #da4141 !important;
  }
}
