@import "inc/variables";
@import "main-generic";
@import "main-catalogue";
@import "elements/card";
@import "elements/accordion";
@import "elements/form";
@import "elements/cart";
@import "elements/buttons";


// fonts

.cat-active {
  font-family: $font-family-bold;
}

.link-appearance{
  font-family: $font-family-regular;
}


//app-classes

.max-app-width{
  max-width: $max-app-width;
}
