@import "../../projects/signature-it/ngx-generic/src/styles/main";

.blue-bg {
  background-color: $blue;
}
.blue-text {
  color: $blue;
}
#ngx-header .search-wrapper {
  margin: auto;
  width: 440px;
}

[data-view="product-page"] {
  breadcrumbs {
    ol {
      margin: 0 !important;
      li:nth-child(2) {
        display: none;
      }
    }
  }
}
