<!--<homepage-banners></homepage-banners>-->
<ng-template [ngIf]="fixedHeader && !sharedSvc.isMobileMode()">
    <homepage-banners libAppParallax [ratio]="0.5" id="parallax-element"></homepage-banners>
    <div class="banner-placeholder"></div>
</ng-template>
<homepage-banners *ngIf="!fixedHeader || (fixedHeader && sharedSvc.isMobileMode())"></homepage-banners>
<div class="homepage-content-wrap">
    <div class="max-app-width mx-auto my-5">
        <products-carousel *ngIf="carouselHPconfig['top']" [item]="" [related]="carouselHPconfig['top']"  type="promo"></products-carousel>
    </div>
    <div *ngIf="cmsHomepageTop"
         class="cms-homepage-top"
         [innerHtml]="cmsHomepageTop">
    </div>
    <div class="row max-app-width mx-auto my-5">
        <div *ngIf="cmsHomepageLeft && !sharedSvc.isMobileMode()"
             class="homepage-cms-left col-auto"
             [innerHtml]="cmsHomepageLeft">
        </div>
        <div class="col">
            <homepage-group-links></homepage-group-links>
        </div>
        <div *ngIf="cmsHomepageRight  && !sharedSvc.isMobileMode()"
             class="homepage-cms-right col-auto"
             [innerHtml]="cmsHomepageRight">
        </div>
    </div>
    <div class="max-app-width mx-auto my-5">
        <products-carousel *ngIf="carouselHPconfig['buttom']" [item]="" [related]="carouselHPconfig['buttom']"  type="promo"></products-carousel>
    </div>
    <div *ngIf="cmsHomepageBottom"
         class="cms-homepage-bottom"
         [innerHtml]="cmsHomepageBottom">
    </div>
</div>
