@import "colors";

@mixin bg-ratag-green-secondary{
  background-color: $ratag-green-secondary !important;
  color: $ratag-green !important;
}

@mixin full-vw {
  width: 100vw !important;
  position: relative;
  left: 50% !important;
  right: 50% !important;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
}
@mixin bg-ratag-green {
  background-color: $ratag-green;
  color: white;
}

@mixin footer-margins($footer-margin-top: 0) {
  main-footer, shared-footer{
    margin-top: $footer-margin-top;
  }
}

// animation

@mixin spin-animation{
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
}




