@import '../../../projects/signature-it/ngx-generic/src/styles/inc/variables';

$blue: #272470 !default;
$header-search-wrapper-width: 440px !default;

//cards display
$card-margin-desktop: 10px !default;
$card-margin-mobile: 2px !default;

$app-header-desktop-height: 124px !default;
$app-light-blue: #99DFFD;