// fonts
$font-family: "Arial", "Helvetica", sans-serif !default;
$font-family-light: "AtlasLight", $font-family;
$font-family-regular: "AtlasRegular", $font-family;
$font-family-medium: "AtlasMedium", $font-family;
$font-family-bold: "AtlasBold", $font-family;
$font-family-black: "AtlasBlack", $font-family;

//z-index
$zindex-navbar: 1000;
$zindex-navbar-fixed: 1030;
$zindex-modal: 1050;

//navbar
$navbar-height: 70px;

//sidebar
$left-sidebar-width: 240px;
$left-sidebar-collapsed-width: 80px;
$right-sidebar-width: 300px;

//top-navigation
$top-navigation-menu-width: 200px;
$top-navigation-height: 45px;
$top-navigation-dropdown-height: 45px;
$top-navigation-1-height: 45px;
$top-navigation-1-dropdown-height: 45px;
$top-navigation-2-height: 45px;
$top-navigation-2-dropdown-height: 45px;
$top-navigation-2-jumbotron-height: 130px;

//logo
$logo-height: $navbar-height;

//global variables
$side-margin: 20px;
$margin-left: 20px;
$margin-right: 20px;
$margin-bottom: 20px;
$border-radius: 12px;

//responsive breakpoint
$breakpoint: 768px;
$break-small: 320px;
$break-large: 990px;
$max-app-width: 1280px;

$default-transform: transform 0.25s ease;
$alt-transform: transform 0.25s ease-in-out;

// fonts
$font-family: "Arial", "Helvetica", sans-serif !default;
$font-family-light: "Arial", "Helvetica", sans-serif !default;
$font-family-regular: "Arial", "Helvetica", sans-serif !default;
$font-family-medium: "Arial", "Helvetica", sans-serif !default;
$font-family-bold: "Arial", "Helvetica", sans-serif !default;
$font-family-black: "Arial", "Helvetica", sans-serif !default;

$app-font-size: 1rem !default;

// fonts

@mixin cat-fonts(
  $font-light: (Arial, Helvetica, sans-serif),
  $font-regular: (Arial, Helvetica, sans-serif),
  $font-medium: (Arial, Helvetica, sans-serif),
  $font-bold: (Arial, Helvetica, sans-serif),
  $font-black: (Arial, Helvetica, sans-serif)
){
  .cat-active{
    font-family: $font-bold;
  }
  .link-appearance{
    font-family: $font-regular;
  }
}

@mixin product-card-features(
  $gutter-right: -1px,
  $gutter-left: 0px,
  $gutter-left-bs-fix: $gutter-left,
  $gutter-top: -1px,
  $gutter-bottom: 0,
  $border-style: solid,
  $border-color: #ddd,
  $border-width: 1px,
  $padding-x: 10px,
  $padding-y: 10px,
  $cat-items-per-row: 4,
  $cat-items-per-row-med: 3,
  $no-sidebar-items-per-row: 5,
  $no-sidebar-items-per-row-med: 4)
{

  .card-group{
    margin-right: -($gutter-right);
    margin-left: -($gutter-left);
  }

  @include media-breakpoint-up(lg){
    //products-cards, favorites, compare-products{
    .grid .card-item.card{
      margin: $gutter-top $gutter-right $gutter-bottom $gutter-left;
      border: $border-width $border-color $border-style !important;
      padding: $padding-y $padding-x;
      -webkit-box-flex: 0 !important;
      -ms-flex-positive: 0 !important;
      flex-grow: 0 !important;
      -ms-flex-preferred-size:  calc((100%/#{$cat-items-per-row}) - (#{$gutter-right} + #{$gutter-left})) !important;
      flex-basis:  calc((100%/#{$cat-items-per-row}) - (#{$gutter-right} + #{$gutter-left})) !important;
      max-width: calc((100%/#{$cat-items-per-row}) - (#{$gutter-right} + #{$gutter-left})) !important;
      + .card{
        margin-left:  $gutter-left;
      }
      .no-sidebar-mode & {
        -ms-flex-preferred-size: calc((100%/#{$no-sidebar-items-per-row}) - (#{$gutter-right} + #{$gutter-left})) !important;
        flex-basis: calc((100%/#{$no-sidebar-items-per-row}) - (#{$gutter-right} + #{$gutter-left})) !important;
        max-width: calc((100%/#{$no-sidebar-items-per-row}) - (#{$gutter-right} + #{$gutter-left})) !important;
        + .card{
          margin-left:  $gutter-left;
        }
      }
    }
    .grid family-card.card-item.card{
      padding: 30px $padding-x $padding-y;
    }
    //}
  }
  @include media-breakpoint-only(lg){
    //products-cards, favorites, compare-products{
    .grid .card-item.card{
      -ms-flex-preferred-size:  calc((100%/#{$cat-items-per-row-med}) - (#{$gutter-right} + #{$gutter-left})) !important;
      flex-basis:  calc((100%/#{$cat-items-per-row-med}) - (#{$gutter-right} + #{$gutter-left})) !important;
      max-width: calc((100%/#{$cat-items-per-row-med}) - (#{$gutter-right} + #{$gutter-left})) !important;
      .no-sidebar-mode & {
        -ms-flex-preferred-size: calc((100%/#{$no-sidebar-items-per-row-med}) - (#{$gutter-right} + #{$gutter-left})) !important;
        flex-basis: calc((100%/#{$no-sidebar-items-per-row-med}) - (#{$gutter-right} + #{$gutter-left})) !important;
        max-width: calc((100%/#{$no-sidebar-items-per-row-med}) - (#{$gutter-right} + #{$gutter-left})) !important;
      }
    }
    //}
  }


  @include media-breakpoint-up(sm) {
    .card-group {
      .card {
        + .card {
          margin-left: $gutter-left-bs-fix;
        }
      }
    }
  }
}

@include cat-fonts(
        $font-light: $font-family-light,
        $font-regular: $font-family-regular,
        $font-medium: $font-family-medium,
        $font-bold: $font-family-bold,
        $font-black: $font-family-black
);


// fixed header
$app-header-desktop-height: 160px;
$app-header-mobile-height: 67px;
$app-hp-banner-height-proportion: 23.79%;


//header components
$header-search-wrapper-width: 227px;
$autocomplete-reverse-pane-ratio: 1;