button {
  &:disabled { cursor: not-allowed !important; }
  &.btn > i { padding: 0 5px; }
  &.btn-collapse { outline: 0 !important; }
}
.btn-sm {
  > i {
    vertical-align: middle;
  }
}
.btn-link {
  text-decoration: underline !important;
  padding: 0;
}
.list-group,
.nav {
  li.btn {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;}
}

/**
 * RTL
 */

body[dir="rtl"] {
  mat-sidenav-container {
    .btn-collapse {
      right: 0 !important;
      left: auto !important;
    }
  }
}
