@import "~delta-angular/src/styles/bootstrap/scss/custom";
@import "~delta-angular/src/styles/bootstrap/scss/mixins/breakpoints";


@mixin card-title {
  background-color: #212121;
  //border-bottom: 4px solid #ccc;
  color: white;
  padding: 1rem 1rem;
  margin-bottom: 0;
  font-weight: bold;
  i {
    display: inline;
    vertical-align: sub;
    font-size: 26px;
    line-height: 1;
  }
}

.card {
  &.card-with-title {
    > .card-title {
      @include card-title;
    }
  }
  > .card-block {
    ul.list-group > .list-group-item {
      background-color: white !important;
      border-left: 0;
      border-right: 0;
      &.active {
        background-color: #eeeeee !important;
        border-color: inherit;
      }
      a {
        font-weight: bold;
        padding: 1rem;
      }
    }
  }
}




@mixin product-card-features(
  $gutter-right: -1px,
  $gutter-left: 0px,
  $gutter-left-bs-fix: $gutter-left,
  $gutter-top: -1px,
  $gutter-bottom: 0,
  $border-style: solid,
  $border-color: #ddd,
  $border-width: 1px,
  $padding-x: 10px,
  $padding-y: 10px,
  $cat-items-per-row: 4,
  $cat-items-per-row-med: 3,
  $no-sidebar-items-per-row: 5,
  $no-sidebar-items-per-row-med: 4)
{

  .card-group{
    margin-right: -($gutter-right);
    margin-left: -($gutter-left);
  }

  @include media-breakpoint-up(lg){
    //products-cards, favorites, compare-products{
    .grid .card-item.card{
      margin: $gutter-top $gutter-right $gutter-bottom $gutter-left;
      border: $border-width $border-color $border-style !important;
      padding: $padding-y $padding-x;
      -webkit-box-flex: 0 !important;
      -ms-flex-positive: 0 !important;
      flex-grow: 0 !important;
      -ms-flex-preferred-size:  calc((100%/#{$cat-items-per-row}) - (#{$gutter-right} + #{$gutter-left})) !important;
      flex-basis:  calc((100%/#{$cat-items-per-row}) - (#{$gutter-right} + #{$gutter-left})) !important;
      max-width: calc((100%/#{$cat-items-per-row}) - (#{$gutter-right} + #{$gutter-left})) !important;
      + .card{
        margin-left:  $gutter-left;
      }
      .no-sidebar-mode & {
        -ms-flex-preferred-size: calc((100%/#{$no-sidebar-items-per-row}) - (#{$gutter-right} + #{$gutter-left})) !important;
        flex-basis: calc((100%/#{$no-sidebar-items-per-row}) - (#{$gutter-right} + #{$gutter-left})) !important;
        max-width: calc((100%/#{$no-sidebar-items-per-row}) - (#{$gutter-right} + #{$gutter-left})) !important;
        + .card{
          margin-left:  $gutter-left;
        }
      }
    }
    .grid family-card.card-item.card{
      padding: 34px $padding-x $padding-y;
    }
    //}
  }
  @include media-breakpoint-only(lg){
    //products-cards, favorites, compare-products{
    .grid .card-item.card{
      -ms-flex-preferred-size:  calc((100%/#{$cat-items-per-row-med}) - (#{$gutter-right} + #{$gutter-left})) !important;
      flex-basis:  calc((100%/#{$cat-items-per-row-med}) - (#{$gutter-right} + #{$gutter-left})) !important;
      max-width: calc((100%/#{$cat-items-per-row-med}) - (#{$gutter-right} + #{$gutter-left})) !important;
      .no-sidebar-mode & {
        -ms-flex-preferred-size: calc((100%/#{$no-sidebar-items-per-row-med}) - (#{$gutter-right} + #{$gutter-left})) !important;
        flex-basis: calc((100%/#{$no-sidebar-items-per-row-med}) - (#{$gutter-right} + #{$gutter-left})) !important;
        max-width: calc((100%/#{$no-sidebar-items-per-row-med}) - (#{$gutter-right} + #{$gutter-left})) !important;
      }
    }
    //}
  }


  @include media-breakpoint-up(sm) {
    .card-group {
      .card {
        + .card {
          margin-left: $gutter-left-bs-fix;
        }
      }
    }
  }
}


@include product-card-features;