.fa-shopping-cart{
  position: relative;
  //color: $ratag-green;
  .badge{
    position: absolute;
    top: 0;
    box-shadow: none !important;
    border-width: 2px;
    border-style: solid;
    margin: 0;
    border-radius: 50%;
    //@include bg-ratag-green-secondary;
  }
}

