.form-control{
  border-color: rgba(0,0,0,.15) !important;
  border-radius: .25rem;
  &[readonly],&:disabled{
    background-color: #eceeef;
    opacity: 0.5;
    cursor: not-allowed;
    &:focus{
      border-color: rgba(0,0,0,.15) !important;
    }
  }
}
.custom-control-indicator{
  top: 0;
}
.form-control-success{
  padding: 0.5rem 0.75rem;
}

// file-uploads
.custom-file {
  .custom-file-control {
    text-align: left;
    &:before {
      content: ' ';
      //border: $ratag-green-secondary;
      text-transform: uppercase;
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
      //@include bg-ratag-green-secondary;
    }
    &:after {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }
    &:lang(en) {
      &:before {
        content: "Browse";
      }
      &:after {
        content: "Choose file...";
      }
    }
    &:lang(he) {
      &:before {
        content: "פתיחה";
      }
      &:after {
        content: "בחר קובץ...";
      }
    }
  }
}

/**
 * RTL
 */
body[dir="rtl"]{
  .input-group-addon{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
