//@import '../../../projects/signature-it/ngx-generic/src/styles/elements/index';

&[data-controller="cng-page"] {
  breadcrumbs {
    ol {
      margin: 0 !important;
      li:nth-child(2) {
        display: none;
      }
    }
  }

  dynamic-form {
    form {
      mat-form-field {
        height: auto;
        .mat-form-field-wrapper {
          padding-bottom: 0 !important;
        }
      }
      .field {
        &.dynamic-field {
          width: 33%;
          &.FileUpload {
            //width: 100%;
            .dynamic-wrap {
              max-width: 100%;
            }
          }
          .dynamic-field-label {
            max-height: 29px;
            font-weight: 600;
            margin: 0;
            .btn {
              display: initial !important;
            }
          }
        }
      }
      .btns-wrap {
        display: flex;
        flex-direction: initial;
        justify-content: flex-end;
        button {
          width: 10%;
          margin: 3px;
        }
      }
    }
  }

  .fields-wrap .dynamic-field {
    width: 100% !important;
    .dynamic-field-label {
      max-height: fit-content !important;
    }
    .dynamic-field-wrapper .dynamic-wrap {
      max-width: fit-content !important;
      .mat-radio-label {
        white-space: normal !important;
      }
    }
  }
}
